html {
	background: #000 url(ryan-moreno-99473-unsplash.jpg) no-repeat center center fixed;
	background-size: cover;
/*	Photo by Ryan Moreno on Unsplash*/
	}

.banner {
	position: absolute;
	width: 100%;
	margin-top: 30%;
}

h2 {
	color: white;
	text-align: center;
	font-family: 'Playfair Display', serif;
	font-size: 54px;
	font-weight: bold;
}

.container-fluid {
	position: absolute;
	margin-top: 50%;
	display: flex;
	justify-content: center;
}